b { color:red; font-family:ÈÞ¸Õ¸ÅÁ÷Ã¼; font-size:15pt; }
u { color:blue; font-family:ÈÞ¸Õ¿¾Ã¼; font-size:30pt; }
name2 { color:red; }
#first { color:white; background:red; width:600px; height:200px; }
h2:hover { color:red; }
h2:active { color:blue; }